@import "vendor";

.WidgetPage {
  &__content {
    margin: 20px;
    text-align: center;
  }

  .Tab {
    & > div > div {
      padding: 0 20px;
      display: flex;
      flex-direction: row !important;
      flex-flow: row-reverse !important;
      justify-content: space-between !important;
    }

  }
}